.filter-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  background-image: linear-gradient(#a1b5d8, #738290 90%);
  margin: 10px;
  border-radius: 8px;
  text-transform: capitalize;
}

.filter {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 10px;
  outline: none;
  background: none;
  color: white;
}
