.filter-container {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    background-image: linear-gradient(#a1b5d8, #738290 90%);
    margin: 10px;
    border-radius: 8px;
}

.filter {
    border: none;
    padding: 10px;
    outline: none;
    background: none;
    color: white;
}