.principal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  color: white;
  width: 150px;
  height: 70px;
  text-decoration: none;
  margin: 5px;
  box-sizing: border-box;
}
