.scroll-cats {
    overflow-x: auto;
    width: 100vw;
}

.scroll-cats::-webkit-scrollbar {
    display: none;
}

.scrollable {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
}

.horisontal-images {
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.card-cat-tittle {
    color: #006ed9;
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid rgb(213, 213, 213);
}

.cats-tittle {
    margin-top: 20px;
}

.cats-tittle__text {
    color: #006ed9;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .cat-card {
        width: 400px;
        height: 460px;
    }
    .cats-tittle__text {
        font-size: 45px;
    }
}