.scroll-cats {
    margin: 25px 0px 20px 0px;
    padding: 0px 15px 0px 0px;
    overflow-x: auto;
    width: 100vw;
}

.scroll-cats::-webkit-scrollbar {
    display: none;
}

.scrollable {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.horisontal-images {
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.scroll-cats__title {
    margin-left: 15px;
}