.header {
    position: fixed;
    z-index: 100000;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #77cc6d;
}

.header__logo {
    height: 45px;
}

#burger-button {
    padding: 15px;
    outline: none;
    border: none;
    background-color: inherit;
}

.search {
    display: none;
}

#search__input {
    outline: none;
    background-color: #77cc6d;
}

#search__input:focus {
    outline: none;
}

.header__dropdown-country {
    border: none;
    padding: 10px;
    outline: none;
    background: #77cc6d;
    font-size: 14px;
}

.header__login {
    border: none;
    padding: 15px;
    margin-right: 30px;
    background: none;
    outline: none;
    font-size: 16px;
}

@media screen and (min-width: 600px) {
    .search {
        display: flex;
        align-items: center;
    }
    #burger-button {
        display: none;
    }
}