.header {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #77cc6d;
}

.header__logo {
    height: 45px;
}

#burger-button {
    padding: 15px;
    outline: none;
    border: none;
    background-color: inherit;
}

.search {
    display: flex;
    align-items: center;
}

#search__input {
    outline: none;
}

#search__input:focus {
    outline: none;
}
