.section__footer {
	height: 150px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #006ed9;
	color: white;
	position: absolute;
	box-shadow: 0px -3px 5px 2px rgba(0, 0, 0, 0.2);
}

.footer-container {
	display: flex;
	padding: 30px 20px 0px;
}

.footer-information {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.footer_social_contact-us {
	display: flex;
	flex-direction: column;
}

.logo__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-name {
	margin-top: 15px;
	font-weight: bold;
}

.contact-us {
	font-weight: bold;
	margin-bottom: 10px;
	color: white;
}

.about-us {
	display: none;
}

.about-us__text {
	margin-top: 15px;
	margin-bottom: 0px;
}

.image__footer {
	height: 100px;
	padding: 20px;
}

.subFooter {
	display: flex;
	flex-direction: column;
}

.footer-social {
	flex-direction: row;
}

.social__items-list {
	margin-right: 10px;
	font-size: 1.5em;
}

/* .copyright {
  margin-top: 10px;
} */

.copyright__text {
	text-align: center;
	font-size: 10px;
	margin-bottom: 0rem;
}

@media screen and (min-width: 900px) {
	.footer-social {
		justify-content: flex-end;
		margin-right: 30px;
	}
	.social__items-list {
		margin-right: 20px;
		font-size: 2em;
	}
	.contact-us {
		margin-top: 10px;
		margin-right: 55px;
		font-weight: bold;
		font-size: 20px;
	}
	.copyright__text {
		font-size: 14px;
		margin-bottom: 0rem;
	}
	.copyright {
		margin-top: 20px;
	}
	.logo-name {
		font-size: 30px;
		font-weight: bold;
	}
	.about-us {
		display: flex;
		margin-right: 90px;
	}
	.footer_social_contact-us {
		flex-direction: row;
	}
	.footer-container {
		padding: 0;
	}
	.footer-information {
		margin-left: 50px;
	}
}
