.section__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid;
    height: 150px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, #77cc6d, #43803d 80%);
    color: white;
    position: absolute;
}

.logo__footer {
    display: flex;
    align-items: center;
}

.contact-us {
    margin-right: 15px;
}

.about-us {
    margin-right: 25px;
}

.image__footer {
    height: 100px;
    padding: 20px;
}
